.CompanyCard {
    width: 70%;
    margin: 20px 15%;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: left;
  
}

.CompanyCard a:link {
    text-decoration: none;
    color: black;
}

.CompanyCard a:visited {
    text-decoration: none;
    color: black;
}

.CompanyCard a:hover {
    text-decoration: none;
    color:purple;
}

.CompanyCard-logo {
    width: 85%;
    height: auto;
}

.CompanyCard-name {
    font-size: 1.2rem;
}

.CompanyCard-description {
    font-size: 1rem;
}