.NavBar {
    background-color: pink;
    text-align: center;
}

.NavBar a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: tomato;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: black;
    color: white !important;
}

.NavBar a.active {
    font-weight: bold;
    color: black;
}

