.NavBar {
    background-color: pink;
    text-align: center;
}

.NavBar a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.NavBar a:hover {
    color: purple !important;
}

.NavBar a.active {
    font-weight: bold;
    color:purple;
}

